container_commands:
  05_setupyumfornode:
    command: sudo curl --silent --location https://rpm.nodesource.com/setup_10.x | sudo bash -
  06_get node:
    command: sudo yum -y install nodejs
  07_curl_node:
    command: sudo curl --silent --location https://rpm.nodesource.com/setup_10.x | sudo bash -
  08_install_node_js:
    command: sudo yum -y install nodejs
  09_npm_install:
    command: |
      cd bizdir-frontend
      echo "sudo npm install"
      sudo npm install
      npm run build
packages:
  yum:
    git: []
    postgresql-devel: []